.container {
    display: flex;
    justify-content: center;
    color: black;
}

.loadingMargin {
    margin-top: 50px;
}

.loadingTextMargin {
    margin-top: 10px;
}

.loadingIcon {
    color: black;
}

.loadingText {
    color: black;
    display: block;
}